<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Welcome to Codeial</h1>
    <% if (user) { %>
        <a href="/users/profile">Profile</a>
        <a href="/users/sign-out">Sign Out</a>
    <% } else { %>
        <a href="/users/sign-in">Sign In</a>
        <a href="/users/sign-up">Sign Up</a>
    <% } %>
    <section id="feed-posts">
        <h4>posts</h4>
        <form action="" id="new-post-form" placeholder="type here" method="POST">
            <textarea name="content" cols="30" rows="3"></textarea>
            <input type="submit",value="post">
            </form>
            </section>
    
    
    
    
    
</body>
</html>
