<h1>sign in</h1>
<form action="/users/create-session" method="POST">
    
    <input type="email" name="email" Placeholder="your email" required>
    <input type="password" name="password" Placeholder="password" required>
    <input type="submit" value="signin">
    </form>
